org.xerial:sqlite-jdbc:3.45.2.0  
org.openjfx:javafx-controls:22.0.1  
org.openjfx:javafx-fxml:22.0.1  
org.openjfx:javafx-graphics:22.0.1  
org.controlsfx:controlsfx:11.2.1  
com.calendarfx:view:11.8.3  
org.kordamp.ikonli:ikonli-javafx:12.3.1  
org.kordamp.ikonli:ikonli-fontawesome5-pack:12.3.1  
org.slf4j:slf4j-simple:2.0.12  
